<!-- button google login tailwind -->
<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" (click)="loginWithGoogle()">
  Login with Google
</button>

<!-- button anonymous login tailwind -->
<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" (click)="loginAnonymously()">
  Login Anonymously
</button>

<!-- button user and password login tailwind -->
<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" (click)="loginWithEmailAndPassword()">
  Login with Email and Password
</button>
