<app-navbar />
<main class="flex flex-row flex-wrap justify-center items-center gap-2 w-full h-lvh ">
  <div
    class="w-96 h-72 shadow-lg bg-slate-100 rounded-lg p-2 hover:border-cyan-600 border-4 flex flex-col items-center justify-center">
    <h1 class="font-bold text-xl justify-self-start">
      Ingresos del mes
    </h1>
    <p class="font-normal text-lg blac ">$15.080.000</p>
  </div>
  <div class="w-96 h-72 shadow-lg bg-slate-100 rounded-lg p-2 hover:border-cyan-600 border-4 flex flex-col items-center justify-center">
    <h1 class="font-bold text-xl justify-self-start">
      Egresos del mes
    </h1>
    <p class="font-normal text-lg blac ">$12.080.000</p>
  </div>
  <div class="w-96 h-72 shadow-lg bg-slate-100 rounded-lg p-2 hover:border-cyan-600 border-4 flex flex-col items-center justify-center">
    <h1 class="font-bold text-xl justify-self-start">
      Ahorros del mes
    </h1>
    <p class="font-normal text-lg blac ">$3.000.000</p>
  </div>
</main>
